<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guosen.nativecrash">

    <application>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.Guosenmvvmkotlin.NoActionBar"></activity>
    </application>

</manifest>